defaults:
  - _self_
  - /data: brats2020.yaml
  - /model: diffusion/condition_diffusion_module.yaml
  - /paths: default.yaml

task_name: "sample_cdm"
seed: 12345

data:
  batch_size: 1
  num_workers: 4
  image_size: 256
  # full_dataset: true

model:
  dataset: "brats"
  model_path: ${paths.root_dir}/src/ckpt_s256/conditional_diffusion/unet_cdm256_1000step.pth
  # dataset: "lits"
  # model_path: ${paths.root_dir}/src/ckpt_lits/conditional_diffusion/unet_cdm256_1000step.pth

# Classifier guidance 
classifier:
  use_classifier: true
  path: ${paths.root_dir}/src/ckpt_s256/classifier/image_classifier_brats2020.pth
  scale: 100.0
  use_label: true

sampling:
  num_samples: 400
  index_to_save: 300
  noise_level: 500   # L
  skip_normal: true
  save_dir: ${paths.root_dir}/results/visualize_cdm_brats2020
